<article id="mostro">
  <h2>
    Mostro</br>
    <small>Lead developer</small>
  </h2>
  <div class="row">
    <div class="large-12 columns">
      <p>
        <a href="https://www.mostro.com">Mostro</a>
        is a server monitoring service bringing usability and ease of setup to a world of complex, often critical problems.
      </p>

      <p>
        Users can get a server fully monitored <i>within seconds</i>, with actionable insights for services such as MySQL, PostgreSQL, Memcache etc. out of the box, and hundreds of checks and triggers already configured with sensible defaults.
      </p>

      <p>
        The shell-based agent is secure, open-source, lightweight and extensible, while the text-based, server-side configuration allows for an easy deploy accross infrastructures using tools like Ansible, Chef and Puppet. Users can write their own additional checks using in any language. <a href="https://gist.github.com/KevinBongart/998410d8e6ee2763f4f6">Here's a simple example</a>.
      </p>

      <p>
        Made with
        <span class="technology">Ruby on Rails</span>,
        <span class="technology">Sidekiq</span>,
        <span class="technology">Redis</span>,
        <span class="technology">InfluxDB</span> and
        <span class="technology">Bash</span>.
      </p>

      <figure>
        <p><img src="images/mostro/1.jpg"></p>
        <figcaption>
          <p>The dashboard highlights what's currently wrong, how bad it is, how long has it been, and who's working on it. The app provide helpful solutions, for instance specific MySQL settings.</p>
        </figcaption>
      </figure>

      <figure>
        <p><img src="images/mostro/2.jpg"></p>
        <figcaption>
          <p>No need for flashy charts when everything is running smoothly. Mostro will let you know if anything goes wrong.</p>
        </figcaption>
      </figure>

      <figure>
        <p><img src="images/mostro/3.jpg"></p>
        <figcaption>
          <p>"Alert me via Slack if the CPU on #worker servers is critical for more than 1 minute, and text the whole team if the problem persists for more than 5 minutes."</p>
        </figcaption>
      </figure>

      <figure>
        <p><img src="images/mostro/4.jpg"></p>
      </figure>
    </div>
  </div>
</article>
