<article id="mydailygoal">
  <h2>My Daily Goal</h2>
  <div class="row">
    <div class="large-12 columns">
      <p>
        <a href="http://mydailygoal.net">My Daily Goal</a>
        is an app that helps your reach your goals. It was initially inspired by
        <a href="http://lifehacker.com/281626/jerry-seinfelds-productivity-secret">
          Jerry Seinfeld's productivity tip
        </a>
        and helped me break my snooze button addiction.
      </p>

      <p>
        Made with
        <span class="technology">Ruby on Rails</span> and
        <span class="technology">Mr. T</span>.
      </p>

      <figure>
        <p><img src="images/mydailygoal/iphone.png"></p>
        <figcaption>
          <p>Create a goal in one click. No signup, no password, no problem.</p>
        </figcaption>
      </figure>
    </div>
  </div>
</article>
