<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">kevinbongart.net</a>
  </li>
  <li class="breadcrumb-item">
    Projects
  </li>
  <li class="breadcrumb-item">
    <%= project %>
  </li>
</ul>
