<%= partial "nav", locals: { project: "Cardigans Humility" } %>

<h1>Cardigans Humility</h1>

<p>
  <a href="https://www.cardiganshumility.online">Cardigans Humility.online</a> is an online version of the Cards Against Humanity game I built over a quarantine weekend, and self-hosted it while it scaled to thousands of simultaneous players around the world.
</p>

<p>
  It uses Ruby on Rails and Action Cable to push state changes to the front-end via WebSockets, letting all players see the game refresh automatically at the same time.
</p>

<p>The source code can be found (and improved!) <a href="https://github.com/KevinBongart/cards_against_humanity">on GitHub</a>.</p>

<figure class="figure">
  <img src="/images/cardigans-humility/cards1.png" class="img-responsive" alt="Homepage of the Cardigans Humility game. The player can start a new game or join an existing one.">
</figure>

<figure class="figure">
  <img src="/images/cardigans-humility/cards2.png" class="img-responsive" alt="Game page. A black card with the text 'Sir, we found you passed out naked on the side of the road. What's the last thing you remember?' The player is about to play their card 'Eating Tom Selleck's mustache to gain his powers.'">
</figure>
