<%= partial "nav", locals: { project: "DevPost" } %>

<h1>DevPost</h1>

<p>
  <a href="https://devpost.com">DevPost</a>, formerly called ChallengePost, is a platform for online software competitions and in-person hackathons that helped cities, colleges, music festivals, governments and tech companies crowdsource innovation. Thousands of developers have participated in hundreds of challenges organized by New York City, Evernote, Samsung, the MTA and the White House.
</p>

<p>
  From 2011 to 2014, they taught me how to design, write, ship and maintain powerful web applications. It was my first job in New York and I can't believe how lucky I got to work with such a talented product team. I eventually left in order to build my own team at <a href="/projects/mostro">Mostro</a>.
</p>

<figure class="figure">
  <img src="/images/devpost/ipad1.png" class="img-responsive">
  <figcaption class="figure-caption text-center">
    Discover hundreds of challenges, build software to solve problems, win prizes.
  </figcaption>
</figure>

<figure class="figure">
  <img src="/images/devpost/macbook1.png" class="img-responsive">
  <figcaption class="figure-caption text-center">
    Each challenge can be entirely customized.
  </figcaption>
</figure>

<figure class="figure">
  <img src="/images/devpost/ipad2.png" class="img-responsive">
</figure>
