<%= partial "nav", locals: { project: "Easy RSVP" } %>

<h1>Easy RSVP</h1>

<p>
  <a href="https://www.easy-rsvp.com">Easy RSVP</a> is a homemade solution to the one thing I miss from Facebook: events. It lets you publish an event and makes it super quick and easy for your guests to RSVP. No account required, no email, no password.
</p>

<p>
  It also served as an excuse to do some practical research on authentication-less product design. In light of GDPR, adtech abuse and regular data leaks, I've grown curious about account-less apps or authentication-less features. How useful can you make a web app without requiring any personal information, name, email or password?
</p>

<p>Oh, and it's <a href="http://github.com/KevinBongart/easy-rsvp">open-source</a>.</p>

<figure class="figure">
  <img src="/images/easy-rsvp/1.png" class="img-responsive" alt="Easy RSVP homepage. 'Make it easy for your guests to RSVP. A form asks 'What are you planning?', 'When is this happening?' and 'More details (optional)'.">
</figure>

<figure class="figure">
  <img src="/images/easy-rsvp/2.png" class="img-responsive" alt="An event page on Easy RSVP: 'BBQ party in our backyard ðŸ¡ðŸ”ðŸ»'.">
</figure>

<figure class="figure">
  <img src="/images/easy-rsvp/3.png" class="img-responsive" alt="The Easy RSVP form: 'Sleve McDichael' is about to reply 'Yes'. List of guests who RSVP'd grouped by reply (yes, maybe, no).">
</figure>
