<%= partial "nav", locals: { project: "Kanban" } %>

<h1>Kanban</h1>

<p>
  <a href="https://github.com/KevinBongart/kanban">Kanban</a> was an open-source project management app that gave a clear overview of a team's upcoming, current and recent tasks. It looks nice because <a href="https://twitter.com/HollyTiwari">Holly Tiwari</a> designed it, but the project was abandonned as soon as <a href="http://trello.com/">Trello</a> was released.
</p>

<figure class="figure">
  <img src="/images/kanban/macbook.png" class="img-responsive" alt="MacBook on a desk surrounded by notebooks and espresso cups. The MacBook displays a Kanban board of 10 tasks split across 5 columns: backlog, development, QA, deploy and done.">
  <figcaption class="figure-caption text-center">
    Tasks and user photos were drag'n'droppable. See the progress of a task with color indicators. The limit of a column gets highlighted when there are too many tasks being worked on, to help the team focus on shipping.
  </figcaption>
</figure>
