<%= partial "nav", locals: { project: "My Daily Goal" } %>

<h1>My Daily Goal</h1>

<p>
  My Daily Goal was an app that helped your reach your goals, one day at a time. It was initially inspired by <a href="http://lifehacker.com/281626/jerry-seinfelds-productivity-secret">Jerry Seinfeld's productivity tip</a>.
</p>

<figure class="figure">
  <img src="/images/my-daily-goal/iphone.png" class="img-responsive">
  <figcaption class="figure-caption text-center">
    Create a goal in one click. No signup, no password, no problem.
  </figcaption>
</figure>
