<%= partial "nav", locals: { project: "Our Band is Called…" } %>

<h1>Our Band is Called…</h1>

<p>
  <a href="http://www.ourbandiscalled.com">Our Band Is Called…</a> is a Rock'n'Roll band name generator. It's an <a href="http://github.com/KevinBongart/ourbandiscalled">open-source</a> implementation of <a href="http://dubiousquality.blogspot.com/2008/01/rock-band-99.html">Bill Harris' algorithm</a> using Flickr, Wikipedia and The Quotations Page. As always, <a href="https://twitter.com/atestu">Alex</a> made it look awesome.
</p>

<figure class="figure">
  <img src="/images/our-band-is-called/ipad1.png" class="img-responsive">
</figure>

<figure class="figure">
  <img src="/images/our-band-is-called/ipad2.png" class="img-responsive">
</figure>

<figure class="figure">
  <img src="/images/our-band-is-called/ipad3.png" class="img-responsive">
</figure>
