<%= partial "nav", locals: { project: "WatchThis" } %>

<h1>WatchThis</h1>

<p>
  A side project maintained for almost 10 years, <a href="http://www.watchth.is">WatchThis</a> was a website designed to help you discover great movies and keep track of the ones you've watched. It had a recommendation engine and a live-search feature. My friend <a href="https://twitter.com/atestu">Alexandre Testu</a> made it look awesome.
</p>

<figure class="figure">
  <img src="/images/watchthis/my_movies.png" class="img-responsive" alt="Person laying on a couch, interacting with an iPad that lists 20 movie posters including Shindler's List, Ghost in the Shell and The Kid.">
  <figcaption class="figure-caption text-center">
    Discover movies to add to your to-watch list.
  </figcaption>
</figure>

<figure class="figure">
  <img src="/images/watchthis/profile.png" class="img-responsive" alt="iPad on a wooden desk. It displays my user profile with the posters for my 10 favorite movies (Everything is Illuminated, Back to the Future, True Romance) and a list of 10 movies I want to watch, including Shindler's List and 2001: A Space Odissey.">
  <figcaption class="figure-caption text-center">
    My actual user profile.
  </figcaption>
</figure>

<figure class="figure">
  <img src="/images/watchthis/lost_in_translation_ipad.png" class="img-responsive" alt="iPad displaying the movie page for Lost in Translation with the poster, release year, subtitle, plot, cast, comments, similar movies and buttons to watch the trailer or watch the movie on iTunes.">
</figure>
