body, p {
  color: #5D656C;
  font-family: 'Open Sans', Helvetica, Arial sans-serif;
  font-size: 18px;
}

h1, h2, h3 {
  color: #3A4046;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 70px;
}

a, a:hover, a:active, a:focus, a:visited {
  color: #CF1332;
}

#avatar-top, #avatar-bottom {
  border: 1px solid #5D656C;
  height: 1.5em;
  vertical-align: middle;
}

.container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.figure {
  margin-bottom: 2em;
}
