body, p {
  color: #5d656c;
  font-family: 'Open Sans', Helvetica, Arial sans-serif;
  font-size: 18px;
}

h1, h2, h3 {
  color: #3a4046;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  line-height: 1em;
}

a, a:hover, a:active, a:focus, a:visited {
  color: #cf1332;
}

#avatar-top, #avatar-bottom {
  border: 1px solid #5d656c;
  height: 1.5em;
  vertical-align: middle;
}

.container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.figure {
  margin-bottom: 2em;
}

#hireme {
  background-color: aliceblue;
  padding: 1em 1.5em;
  margin-bottom: 1rem;
}
