<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title || "Kevin Bongart" %></title>


    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter:400|Open+Sans|Source+Sans+Pro:900" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

    <%= stylesheet_link_tag "site" %>
    <%#= javascript_include_tag "site" %>

  </head>
  <body>
    <div class="container grid-lg">
      <%= yield %>
    </div>
  </body>
</html>
