---
title: WatchThis
---

<div id="fin">
  <h1>
    <img src="/images/watchthis/logo.gif" id="logo">
    Fin
  </h1>

  <p>Dear friends,</p>

  <p>After almost 10 years of movie recommendations, we've decided to shut down WatchThis.</p>

  <p>From a shared spreadsheet to a social network for movie lovers, it has been a ton of fun building a service that so many people loved to use. Unfortunately, we haven't been able to dedicate enough of our free time to keep it running.</p>

  <p>WatchThis was our first big side project and taught us how to build web applications, integrate with third-party services like IMDb and Twitter, index information for quick and helpful search results, and create a recommendation engine. More importantly, it helped us turn our passion for the web into careers we enjoy. None of this would have happened without all the kind and helpful feedback we received from WatchThis users over the years and, for that, we are very grateful.</p>

  <p>As an alternative to WatchThis, we recommend you give <%= link_to "Letterboxd", "https://letterboxd.com" %> a try and, if you'd like your user data in a spreadsheet, please <%= link_to "get in touch", "mailto:contact@kevinbongart.net" %>.</p>

  <p>Thank you,</p>

  <p>
    <%= link_to "Alex", "https://twitter.com/atestu" %>
    &amp;
    <%= link_to "Kevin", "https://twitter.com/kevinbongart" %>
  </p>

  <br>

  <small><a href="/projects/watchthis.html">&#8617; back</a></small>
</div>
