<h1 class="text-center">
  <div class="mt-2 mb-2">
    <img src="images/computer_music.png" class="circle" id="avatar-bottom" alt="Cartoon of computer playing music, from poorlydrawnlines.com">
  </div>

  Hi! My name is Kevin Bongart.
</h1>

<p>
  I'm an engineering leader specialized in operations and logistics, with 12 years of software development experience. I grew up in Paris 🇫🇷, studied in Helsinki 🇫🇮, lived in New York 🇺🇸 for 10 years, and now I'm back in France 🇫🇷 where I build software for clients around the world.
</p>

<p>
  If you ever want to chat about managing an engineering team, Paris vs. Helsinki vs. New York, Getting Things Done or online privacy, feel free to email me:
  <a href='mailto:contact@kevinbongart.net'>contact@kevinbongart.net</a>.
  You'll also find me on
  <a href='http://github.com/KevinBongart'>GitHub</a> and
  <a href='http://twitter.com/KevinBongart'>Twitter</a>.
</p>

<div id="hireme">
  <h3>Currently available for hire!</h3>

  <p>
    Full-time employment or contract work, 1 week, 3 months, adding a feature, building an application, refactoring legacy code, conducting an architecture review, <i>you name it</i>!
  </p>

  <p>
    I spent the last 5 years as an engineer and manager at <a href='https://www.blueapron.com'>Blue Apron</a> building operations & logistics systems, helping the company scale its order fulfillment capability and <i>deliver one box of fresh food per second</i>, and I'd love to use this expertise to help your team. In a nutshell:
  </p>

  <ul>
    <li>12 years of full-stack development experience, mainly Ruby on Rails and the front-end framework du jour, in the NY tech scene</li>
    <li>3 years of engineering management, building efficient and <i>distributed teams</i> from the ground up</li>
    <li>Expertise in all things operations & logistics: order management, fulfillment and shipping</li>
    <li>Strong ability to familiarize myself with a complex business domain, identify strategic software solutions and execute on them quickly</li>
    <li>French+US citizen, ready to work remotely from France (CET with 5-6 work hours of overlap with NYC), with my own legal entity all set and good to go</li>
  </ul>

  <p class="mb-0">
    Reach out: <a href="mailto:contact@kevinbongart.net">contact@kevinbongart.net</a>
  </p>
</div>

<h2>Experience</h2>

<p>
  I spent 5 years as an engineer and manager at <a href='https://www.blueapron.com'>Blue Apron</a> building operations & logistics systems, helping the company scale its order fulfillment capability and <i>deliver one box of fresh food per second</i>. Amongst many other things, I:
</p>

<ul>
  <li>Lead the unification of order management and fulfillment systems to reduce technical debt while increasing Blue Apron's product offering, fulfillment partnerships and delivery capabilities,</li>
  <li>Supported the increase of on-time deliveries for hundreds of thousands of weekly packages while decreasing shipping costs,</li>
  <li>Implemented the software foundation of what became the company’s strategic solution for scaling its packing and shipping operation.</li>
</ul>

<p>
  I also volunteered as a mentor in <a href="https://codeinteractive.org/accelerator/">Code/Interactive's Tech Career Accelerator Program</a>, a 2-year program for students from underrepresented groups studying computer science at the City University of New York, and coached several women successfully transitioning their career into software engineering.
</p>

<p>
  Before Blue Apron, I was leading the development team at <a href='projects/mostro.html'>Mostro</a> where we made infrastructure monitoring software that brought usability and ease of setup to a world of complex, often critical problems. <a href='projects/mostro.html'>Learn more about what problems it solved and why it failed</a>.
</p>

<p>
  My first job in New York was with the incredible team at <a href='projects/devpost.html'>DevPost</a> who taught me how to write high quality web apps that helped cities, colleges, music festivals, governments and tech companies crowdsource innovation. Thousands of developers have participated in hundreds of competitions organized by New York City, Evernote, Samsung, the MTA and the White House.
</p>

<p>
  Before moving to New York, I built social media widgets (remember those?) for Netvibes in Paris. At some point, the CERN was using Netvibes to display some data from the Large Hadron Collider, so I encourage you to jump to the conclusion that I had a substantial role in discovering the Higgs boson.
</p>

<p>
  I also spent a year operating a deep fryer 🍟, and I was damn good at it.
</p>

<h2>Side projects</h2>

<p>
  I've also worked on a bunch of side projects over the years. I love being able to build solutions to my own problems! Some highlights:
</p>

<ul>
  <li>
    <a href="/projects/cardigans-humility.html">Cardigans Humility</a>: An online version of the Cards Against Humanity game. Pairs well with friends, booze and video chat, especially when quarantined.
  </li>
  <li>
    <a href="/projects/easy-rsvp.html">Easy RSVP</a>: an authentication-less tool to publish events and collect RVSPs.
  </li>
  <li>
    <a href="/projects/watchthis.html">WatchThis</a>: a service to help you discover great movies and keep track of the ones you've watched.
  </li>
  <li>
    <a href="/projects/our-band-is-called.html">Our Band Is Called…</a>: a Rock'n'Roll band name generator.
  </li>
  <li>
    <a href="/projects/my-daily-goal.html">My Daily Goal</a>: a daily email to help you reach your goal.
  </li>
  <li>
    <a href="/projects/kanban.html">Kanban</a>: a digital kanban board, before Trello solved this problem for good.
  </li>
</ul>

<p>
  Most of these and plenty more, including the source code for this website, can be found on <a href="https://github.com/KevinBongart">my GitHub profile</a>.
</p>
