---
title: What We Know The NSA Is Illegally Doing
---

<header id="info">
  <div class='row'>
    <div class='large-12 columns'>
      <a href='/'>kevinbongart.net</a> >
      <%= link_to current_page.data.title, current_page.path %>
    </div>
  </div>
</header>

<article>
  <div class='row'>
    <div class='large-12 columns'>
      <h1><%= current_page.data.title %></h1>

      <p><em>This is entirely from <a href="http://www.reddit.com/r/worldnews/comments/1m74w1/snowden_releases_information_on_us_giving_israel/cc6hdof">a comment written by Reddit user spheroida</a>. I'm posting it here. Please share. —Kevin</em></p>

      <p>Thanks to Snowden, we now know the NSA:</p>

      <ul>
        <li><p>Had James Clapper lie under oath to us - on camera - to Congress to hide the domestic spying programs (<a href="http://www.nationalreview.com/article/350699/clappers-lie-charles-c-w-cooke">Occured in March, revealed in June</a>)</p></li>
        <li><p>Warrantlessly accesses records of every phone call that routes through the US thousands of times a day (<a href="http://www.theguardian.com/world/2013/jun/06/nsa-phone-records-verizon-court-order">June</a>, <a href="http://www.politico.com/story/2013/09/nsa-broke-rules-call-tracking-96571.html">September</a>)</p></li>
        <li><p>Steals your private data from every major web company (Facebook, Google, Apple, Microsoft, et al) via PRISM (<a href="http://www.theguardian.com/world/2013/jun/06/us-tech-giants-nsa-data">June</a>) and pays them millions for it (<a href="http://www.theguardian.com/world/2013/aug/23/nsa-prism-costs-tech-companies-paid">August</a>)</p></li>
        <li><p>Pays major US telecommunications providers (AT&amp;T, Verizon, et al) between $278,000,000-$394,000,000 annually to provide secret access to all US fiber and cellular networks (in violation of the 4th amendment) (<a href="http://www.washingtonpost.com/world/national-security/nsa-paying-us-companies-for-access-to-communications-networks/2013/08/29/5641a4b6-10c2-11e3-bdf6-e4fc677d94a1_story.html">August</a>)</p></li>
        <li><p>Intentionally weakened the encryption standards we rely on, put backdoors into critical software, and break the crypto on our private communications (<a href="http://www.nytimes.com/2013/09/06/us/nsa-foils-much-internet-encryption.html?pagewanted=all&amp;_r=1&amp;">September</a>)</p></li>
        <li><p>NSA employees use these powers to spy on their <strong>US citizen</strong> lovers via LOVEINT, and only get caught if they self-confess. Though this is a felony, none were ever been charged with a crime. (<a href="http://www.washingtonpost.com/blogs/the-switch/wp/2013/08/24/loveint-when-nsa-officers-use-their-spying-power-on-love-interests/">August</a>)</p></li>
        <li><p><strong>Lied</strong> to us again just ten days ago, claiming they never perform economic espionage (whoops!) before a new leak revealed that they do all the time (<a href="http://www.theguardian.com/world/2013/sep/09/nsa-spying-brazil-oil-petrobras">September</a>)</p></li>
        <li><p>Made over fifteen thousand false certifications to the secret FISA court, leading a judge to rule they "frequently and systemically violated" court orders in a manner "directly contrary to the sworn attestations of several executive branch officials," that <strong>90%</strong> of their searches were unlawful, and that they "repeatedly misled the court" (<a href="http://www.theguardian.com/world/2013/sep/10/nsa-violated-court-rules-data-documents">September</a>, <a href="http://blogs.wsj.com/washwire/2013/09/10/five-revelations-from-new-nsa-documents/?mod=e2tw">September</a>)</p></li>
        <li><p><strong>Has programs that collect data on US Supreme Court Justices and elected officials, and they secretly provide it to Israel regulated only by an honor system</strong> (<a href="http://www.theguardian.com/world/2013/sep/11/nsa-americans-personal-data-israel-documents">September</a>)</p></li>
      </ul>

      <p>And they spend <a href="http://www.washingtonpost.com/wp-srv/special/national/black-budget/">$75,000,000,000.00</a> of your tax money each year to do this to you. I'm not putting up with this any longer.  </p>

      <p>Congress just got back into session: call your Congressmen once a day until these programs end. <strong>I am, and they encourage it, because it gives them a platform to fight on.</strong> Find yours <a href="http://www.contactingthecongress.org/">HERE</a>, save it to your phone, and make it a 30 second call… just give your information and tell them they need to vote to end these programs immediately so they can report your opposition and the passion of your opposition (the daily call) in their metrics.</p>

      <p>We just prevented a war in Syria by calling Congress: calling works. We can win again here. 6% of the US population reads the front page of Reddit, and 2014 is an election year. 30 seconds, once a day. Just call: you will end these policies.</p>

      <p><em>Note: I've tried to stick to major source, primarily the New York Times, Washington Post, and Guardian.</em>
      <em>(Hat tip for a bunch of links goes to /u/The_Turning_Away . Please share this comment everywhere: no attribution required)</em></p>
    </div>
  </div>

<%= partial "partials/footer_post" %>
